.section
{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--secondary-color);
}
.section .section_content
{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.section_content .profile_descriptor
{
    width: 400px;
    height: 400px;
}
.profile_descriptor .text
{
    text-align: justify;
    padding-top: 50px;
}
.profile_descriptor .text span
{
    font-size: 20px;
}


.section_content .profile_container img
{
    width: 300px;
    height: 300px;
}
@media screen and (max-width:730px)
{
    .section
    {
        height: auto;
    }
    .section .section_content
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width: 430px)
{  
    .section
    {
        height: auto;
    }
    .section_content .profile_descriptor
    {
        width: 80%;
        height: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .section .section_content
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 12px;
    }
    .profile_descriptor .text
    {
        padding-top: 15px;
    }
    .section_content .profile_container img
    {
        width: 200px;
        height: 200px;
        margin-bottom: 10px;
    }
}